parameters:
    checkMissingIterableValueType: false
    level: 8
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        - '#Method Zend_Acl::_roleDFSAllPrivileges\(\) invoked with 3 parameters, 1-2 required\.#'
        # This appears to be done on purpose to be able to short circuit
        -
            message: '#Do-while loop condition is always false\.#'
            path: ./src/Zend/Acl.php
