parameters:
    ignoreErrors:
        - '#Casting to .+ something that.s already .+\.#'
        - '#Method Zend_Acl::_roleDFSAllPrivileges\(\) invoked with 3 parameters, 1-2 required\.#'
        - '#Method Zend_Acl::isAllowed\(\) should return bool but returns bool\|null\.#'
